{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname }}
	| Profil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-8 vstack gap-4 mt-5">
				<div class="card">
					<div class="rounded-top top-profile"></div>
					<div class="card-body py-0">
						<div class="d-sm-flex align-items-start text-center text-sm-start">
							<div>
								<div class="avatar avatar-xxl profile-n-3 mb-3">
									<img class="avatar-img rounded-circle border border-white border-3" src="images/{{ app.user.image }}" width="150">
								</div>
							</div>
							<div class="ms-sm-4 mt-sm-3">
								<h1 class="mb-0 h5">
									{{ app.user.firstname }}
									{{ app.user.lastname }}
									{% if app.user.isVerified %}
										<i class="bi bi-patch-check-fill text-primary"></i>
									{% endif %}
								</h1>
								<p>250 connections</p>
							</div>
							<div class="d-flex mt-3 justify-content-center ms-sm-auto">
								<a href="#" class="btn btn-danger-soft me-2" type="button">
									<i class="bi bi-pencil-fill pe-1"></i>
									Mettre à jour
								</a>
							</div>
						</div>
						<ul class="list-inline mb-3 text-center text-sm-start mt-3 mt-sm-0">
							<li class="list-inline-item">
								<i class="bi bi-briefcase me-1"></i>
								{% if app.user.roles == 'ROLE_HOST' %}
									Hôte
								{% else %}
									BnBer
								{% endif %}
							</li>
							<li class="list-inline-item">
								<i class="bi bi-geo-alt me-1"></i>
								Habite à
								{{ app.user.city }}
							</li>
							<li class="list-inline-item">
								<i class="bi bi-calendar2-plus me-1"></i>
								{# Inscrit(e) depuis {{ app.user.createdAt | date('Y') }} #}
							</li>
						</ul>
					</div>
				</div>
				<div
					class="row">
					{# Booking #}
					{{ include('/components/profile-booking.html.twig') }}
					{# Reviews #}
					{{ include('/components/profile-review.html.twig') }}
					{# Favorites #}
					{{ include('/components/profile-favorite.html.twig') }}
					{# Offres #}
					{{ include('/components/profile-offer.html.twig') }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
